<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test">
	<!-- 通过ID查找用户 -->
	<select id="findUserById" parameterType="int" resultType="User">
		<!-- 如果输入参数是String或简单类型（基本数据类型），那么#{}中的值可以是任意数据，
		但是推荐使用“_parameter” -->
		SELECT * FROM USER WHERE id=#{_parameter}
	</select>
	
	<!-- 通过用户名模糊查找 -->
	<select id="findUserByUsername" parameterType="String" resultType="User">
		<!-- ${} 表示拼接SQL串 ，且只能用value代表其中的参数 -->
		<!-- SELECT * FROM USER WHERE username LIKE '%${value}%' -->
		SELECT * FROM USER WHERE username LIKE #{_parameter}
	</select>
	
	<!-- 插入用户 -->
	<!-- useGeneratedKeys="true" keyProperty="id" 设置使用自增主键，keyProperty对应Java对象的属性名 -->
	<insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
		
		<!-- 通过MySQL来获取刚插入记录的自增主键 -->
		<!-- <selectKey keyProperty="id" order="AFTER" resultType="Integer">
			SELECT LAST_INSERT_ID()
		</selectKey> -->
		INSERT INTO user(username, password, gender, birthday, email, province, city)
		VALUE (#{username},#{password},#{gender}, #{birthday}, #{email}, #{province}, #{city})
	</insert>
	
	<!-- 删除用户 -->
	<delete id="deleteUser" parameterType="Integer">
		DELETE FROM user WHERE id=#{_parameter}
	</delete>
	
	<!-- 修改用户 -->
	<update id="updateUserName" parameterType="User">
		UPDATE user
		SET username=#{username} 
		WHERE id=#{id}
	</update>
	
	<select id="findBatchCustomer" resultType="BatchCustomer">
		SELECT batch.*, customer.username, customer.acno
		FROM batch, customer
		WHERE batch.cus_id = customer.cus_id
	</select>
	
	<resultMap type="BatchItem" id="BatchInfoMap">
		<id column="batch_id" property="batch_id"/>
		<result column="cus_id" property="cus_id"/>
		<result column="number" property="number"/>
		<result column="createtime" property="createtime" javaType="java.util.Date"/>
		<result column="note" property="note"/>
		<association property="customer" javaType="Customer">
			<id column="cus_id" property="cus_id"/>
			<result column="username" property="username"/>
			<result column="acno" property="acno"/>
			<result column="gender" property="gender"/>
			<result column="phone" property="phone"/>
		</association>
	</resultMap>
	
	<select id="findBatchCustomerToMap" resultMap="BatchInfoMap">
		SELECT batch.*, customer.*
		FROM batch, customer
		WHERE batch.cus_id = customer.cus_id
	</select>
	
	<resultMap type="BatchItem" id="BatchAndBatchDetailResultMap" extends="BatchInfoMap">
		<collection property="batchDetails" ofType="BatchDetail">
			<id column="id" property="id"/>
			<result column="batch_id" property="batch_id"/>
			<result column="product_id" property="product_id"/>
			<result column="product_num" property="product_num"/>
		</collection>
	</resultMap>
	
	<select id="findBatchAndBatchDetail" resultMap="BatchAndBatchDetailResultMap">
		SELECT batch.*, customer.*, bd.id, bd.batch_id, bd.product_id, bd.product_num
		FROM batch, customer, batchdetail as bd
		WHERE batch.cus_id = customer.cus_id AND batch.batch_id = bd.batch_id
	</select>
	
	<resultMap type="Customer" id="UserAndProductsResultMap">
		<!-- 客户信息 -->
		<id column="cus_id" property="cus_id"/>
		<result column="username" property="username"/>
		<result column="acno" property="acno"/>
		<result column="gender" property="gender"/>
		<result column="phone" property="phone"/>
		
		<!-- 批次订单信息 -->
		<collection property="batchList" ofType="Batch">
			<id column="batch_id" property="batch_id"/>
			<result column="cus_id" property="cus_id"/>
			<result column="number" property="number"/>
			<result column="createtime" property="createtime" javaType="java.util.Date"/>
			<result column="note" property="note"/>
			
			<!-- 批次详情 -->
			<collection property="batchDetails" ofType="BatchDetail">
				<id column="id" property="id"/>
				<result column="batch_id" property="batch_id"/>
				<result column="product_id" property="product_id"/>
				<result column="product_num" property="product_num"/>
				
				<!-- 理财产品信息 -->
				<association property="finacialProduct" javaType="FinacialProduct">
					<id column="product_id" property="id"/>
					<result column="name" property="name"/>
					<result column="price" property="price"/>
					<result column="detail" property="detail"/>
				</association>
			</collection>
		</collection>
	</resultMap>
	
	<select id="findUserAndProducts" resultMap="UserAndProductsResultMap">
		SELECT customer.*,batch.*,batchdetail.*,finacial_products.*
		FROM batch, customer, batchdetail,finacial_products
		WHERE batch.cus_id = customer.cus_id
		AND batchdetail.batch_id=batch.batch_id
		AND finacial_products.product_id=batchdetail.product_id
	</select>
	
	<!-- 查询所有批次订单信息 -->
	<select id="findBatchUserLazyLoading" resultMap="BatchUserLazyLoadingResultMap">
		SELECT * FROM batch
	</select>
	
	<!-- 延迟加载的resultMap -->
	<resultMap type="BatchItem" id="BatchUserLazyLoadingResultMap">
		<id column="batch_id" property="batch_id"/>
		<result column="cus_id" property="cus_id"/>
		<result column="number" property="number"/>
		<result column="createtime" property="createtime" javaType="java.util.Date"/>
		<result column="note" property="note"/>
		<!-- 实现延迟加载用户信息 -->
		<association property="customer" javaType="Customer" select="findCustomerById" column="cus_id"/>
	</resultMap>
	
	<!-- 获取用户信息 -->
	<select id="findCustomerById" parameterType="int" resultType="Customer">
		SELECT * FROM customer WHERE cus_id=#{_parameter}
	</select>
	
</mapper>

