<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" 
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd 
       http://www.springframework.org/schema/tx 
       http://www.springframework.org/schema/tx/spring-tx.xsd 
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd  
       http://www.springframework.org/schema/mvc 
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!-- 1.加载配置文件 -->
	<context:property-placeholder location="classpath:db.properties"/>
	
	<!-- 2.包扫描：dao,service -->
	<context:component-scan base-package="com.fruitsalesplatform.dao, com.fruitsalesplatform.service, com.fruitsalesplatform.test.dao, com.fruitsalesplatform.test.service"/>
	
	<!-- 3.数据源 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driver}" />
		<property name="jdbcUrl" value="${jdbc.url}" />
        <property name="user" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />
        
        <property name="maxPoolSize" value="${c3p0.pool.maxPoolSize}" />
        <property name="minPoolSize" value="${c3p0.pool.minPoolSize}" />
        <property name="initialPoolSize" value="${c30p.pool.initialPoolsize}" />
        <property name="acquireIncrement" value="${c30p.pool.acquireIncrement}" />
	</bean>

	<!-- 4.sessionFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 加载MyBatis的配置文件 -->
		<property name="configLocation" value="classpath:SqlMapConfig.xml" />
		<property name="mapperLocations" value="classpath:com/fruitsalesplatform/*/mapper/*.xml" />
		<!-- 数据源 -->
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<!-- 5.事务管理 -->
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<!-- 6.事务通知 -->
	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="insert*" propagation="REQUIRED"/>
			<tx:method name="update*" propagation="REQUIRED"/>
			<tx:method name="delete*" propagation="REQUIRED"/>
			<tx:method name="save*" propagation="REQUIRED"/>
			<tx:method name="find*" read-only="false"/>
			<tx:method name="get*" read-only="false"/>
			<tx:method name="view*" read-only="false"/>
		</tx:attributes>
	</tx:advice>
	
	<!-- 7.aop配置 -->
	<aop:config>
		<aop:pointcut expression="execution(* com.fruitsalesplatform.service.*.*(..))" id="txPointcut"/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="txPointcut"/>
	</aop:config>
</beans>


