<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fruitsalesplatform.mapper.AccessoryMapper">
	<!-- resultMap映射 -->
	<resultMap type="com.fruitsalesplatform.entity.Accessory" id="accessoryRM">
		<!-- 主键 -->
		<id property="accessoryId" column="accessoryid" jdbcType="VARCHAR"/>
		<result property="fruitId" column="fruitid" jdbcType="VARCHAR"/>
		<result property="name" column="name"/>
		<result property="price" column="price" jdbcType="DOUBLE"/>
		<result property="createTime" column="createtime"/>
	</resultMap>
	
	<!-- 查询一个数据 -->
	<select id="get" parameterType="map" resultMap="accessoryRM">
		SELECT * FROM accessory 
		<where>
			<if test="fruitId!=null">and fruitId=#{fruitId}</if>
		</where>
	</select>
	
	<!-- SQL片段 -->
	<sql id="query_accessory_where">
		<if test="name!=null">AND name LIKE #{name}</if>
		<if test="fruitId!=null">AND fruitid = #{fruitId}</if>
		<if test="price!=null">AND price = #{price}</if>

		<if test="startPrice!=null"> 
			<![CDATA[ 
				AND price >=#{startPrice}
			]]>
		</if>
		
		<if test="endPrice!=null"> 
			<![CDATA[ 
				AND price <=#{endPrice}
			]]>
		</if>
		
		<if test="createTime!=null">
			AND createtime = DATE_FORMAT(#{createTime}, '%Y-%m-%d %H:%i:%s')
		</if>
		<if test="startTime!=null">
			<![CDATA[ 
				AND createtime >= DATE_FORMAT(#{startTime}, '%Y-%m-%d %H:%i:%s')
			]]>
		</if>
		<if test="endTime!=null">
			<![CDATA[ 
				AND createtime <= DATE_FORMAT(#{endTime}, '%Y-%m-%d %H:%i:%s')
			]]>
		</if>
	</sql>
	
	<!-- 查询 -->
	<select id="find" parameterType="map" resultMap="accessoryRM">
		SELECT * FROM accessory
		<where>
			<include refid="query_accessory_where"/>
		</where>
		<!-- <if test="startPage!=null and pageSize!=null">LIMIT #{startPage},#{pageSize} </if> -->
	</select>
	
	<!-- 统计数量 -->
	<select id="count" parameterType="map" resultType="int">
		SELECT COUNT(*) FROM accessory
		<where>
			<include refid="query_accessory_where"></include>
		</where>
	</select>
	
	<!-- 插入数据 -->
	<insert id="insert" parameterType="com.fruitsalesplatform.entity.Accessory">
		INSERT INTO accessory
		(accessoryid, fruitid, name, price,createtime)
		VALUES
		(
			#{accessoryId,jdbcType=VARCHAR},
			#{fruitId,jdbcType=VARCHAR},
			#{name,jdbcType=VARCHAR},
			#{price,jdbcType=DOUBLE},
			#{createTime,jdbcType=TIMESTAMP}
		)
	</insert>
	
	<!-- 修改数据 -->
	<update id="update" parameterType="com.fruitsalesplatform.entity.Accessory">
		UPDATE accessory
		<set>
			<if test="fruitId!=null">fruitid=#{address,jdbcType=VARCHAR},</if>
			<if test="name!=null">name=#{name,jdbcType=VARCHAR},</if>
			<if test="price!=null">price=#{price,jdbcType=DOUBLE},</if>
			<if test="createTime!=null">createTime=#{createTime,jdbcType=TIMESTAMP},</if>
		</set>
		WHERE accessoryid=#{accessoryId}
	</update>
	
	<!-- 删除一条 -->
	<delete id="deleteById" parameterType="string">
		DELETE FROM accessory
		WHERE accessoryid=#{accessoryId}
	</delete>
	
	<!-- 删除多条 -->
	<delete id="delete" parameterType="string">
		DELETE FROM accessory
		WHERE accessoryid IN
		<foreach collection="array" item="accessoryId" open="(" close=")" separator=",">
			#{accessoryId}
		</foreach>
	</delete>
	
	<delete id="deleteByFruitId" parameterType="string">
		DELETE FROM accessory
		WHERE fruitid=#{fruitId}
	</delete>
	
</mapper>