<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fruitsalesplatform.mapper.UserMapper">
	<!-- resultMap映射 -->
	<resultMap type="com.fruitsalesplatform.entity.User" id="userRM">
		<!-- 主键 -->
		<id property="userid" column="userid" jdbcType="VARCHAR"/>
		<result property="username" column="username"/>
		<result property="password" column="password"/>
		<result property="name" column="name"/>
		<result property="telephone" column="telephone"/>
	</resultMap>
	
	<!-- 查询一个数据 -->
	<select id="get" parameterType="map" resultMap="userRM">
		SELECT * FROM user WHERE userid=#{userid}
	</select>
	
	<!-- 查询 -->
	<select id="find" parameterType="map" resultMap="userRM">
		SELECT * FROM user
		<where>
			<if test="username!=null">AND username=#{username}</if>
			<if test="password!=null">AND password=#{password}</if>
			<if test="name!=null">AND name LIKE #{name}</if>
			<if test="telephone!=null">AND telephone=#{telephone}</if>
		</where>
	</select>
	
	<!-- 插入数据 -->
	<insert id="insert" parameterType="com.fruitsalesplatform.entity.User">
		INSERT INTO user
		(userid, username, password, name, telephone)
		VALUES
		(
			#{userid,jdbcType=VARCHAR},
			#{password,jdbcType=VARCHAR},
			#{name,jdbcType=VARCHAR},
			#{telephone,jdbcType=VARCHAR}
		)
	</insert>
	
	<!-- 修改数据 -->
	<update id="update" parameterType="com.fruitsalesplatform.entity.User">
		UPDATE user
		<set>
			<if test="password!=null">password=#{password,jdbcType=VARCHAR},</if>
			<if test="name!=null">#{name,jdbcType=VARCHAR},</if>
			<if test="telephone!=null">#{telephone,jdbcType=VARCHAR}</if>
		</set>
		WHERE userid=#{userid}
	</update>
	
	<!-- 删除一条 -->
	<delete id="deleteById" parameterType="string">
		DELETE FROM user
		WHERE userid=#{userid}
	</delete>
	
	<!-- 删除多条 -->
	<delete id="delete" parameterType="string">
		DELETE FROM user
		WHERE userid id
		<foreach collection="array" item="userid" open="(" close=")" separator=",">
			#{userid}
		</foreach>
	</delete>
</mapper>